@import "../../index";

.arrow-button{
  position: absolute;
  width: 36px;
  height: 36px;
  top: calc(100% - 18px);
  background: white;
  border-radius: 18px;
  padding: 0;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);

  &.left{
    left: 0;
  }
  &.right{
    right: 0;
  }
}

@keyframes chosenImageTransition {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.predict-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100vh;

  .hide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
  }

  .chosen-image{
    transition: all 0.5s;

    animation: chosenImageTransition 0.3s;
    position: absolute;
    width: 60%;
    max-width: 800px;
    //height: 60%;
    overflow: hidden;

    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

    z-index: 1000;

    &.hidden{
      top: 50%;
      left: 50%;

      width: 0;
      height: 0;
    }
  }

  @keyframes faqTextAppear {
    from{
      opacity: 0;
    }
    75%{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }

  .logo{
    position: fixed;
    top: 20px;
    left: 20px;

    z-index: 1000;
  }

  .action-button.logout{
    background: white;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #E8E8EB;
    margin-bottom: 0;
    border-radius: 50%;

    &:hover{
      border: 1px solid white;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    }
  }
  .controls-strip{
    z-index: 20;
    position: fixed;
    top: 72px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .faq{
    transition: all 0.5s 0.5s, box-shadow 0.2s, border 0.2s;

    border: 1px solid #E8E8EB;
    max-height: max-content;
    padding: 0px;
    position: fixed;
    z-index: 21;
    width: 40px;
    right: 20px;
    top: 20px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    height: 40px;
    max-width: 600px;

    &:hover {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
      border: 1px solid white;
      cursor: pointer;
    }

    &.extended{
      &:hover {
        cursor: revert;
      }
      padding: 30px;
      transition: all 0.5s;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);

      width: 80%;
      height: 80%;
      overflow-y: auto;

      .title{
        opacity: 1;
      }
      .body{
        opacity: 1;
      }
    }

    .overlay{
      transition: all 0.5s;

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-width: 600px;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 40px;
      background-color: white;

      color: #ffdd1f;
      font-weight: bold;
      font-size: 40px;

      overflow: hidden;

      &.extended{
        transition: all 0.5s 0.5s;

        width: 0;
        height: 0;
        left: 50%;
        top: 50%;
      }
    }

    .title{
      transition: all 0.5s 0.5s;
      color: #ffdd1f;
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 20px;
      width: 100%;
      text-align: start;
      opacity: 0;
    }
    .body{
      transition: all 0.5s 0.5s;
      width: 100%;
      margin-bottom: 20px;
      opacity: 0;
    }
  }

  .controls{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 10;

    max-height: 180px;

    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(15px);

  }

  .images{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 180px;
    padding-bottom: 20px;

    max-height: 100vh;
    overflow-y: auto;

    border-radius: 40px;

    .image-tile{
      position: relative;
      height: 100px;
      width: 100px;
      overflow: hidden;
      border-radius: 15px;
      margin: 8px;

      img{
        height: 100%;
        width: 100%;
      }
    }
  }
}

.buttons{
  display: flex;
  flex-direction: column;
  //gap: 8px;
  align-items: flex-end;
  justify-content: center;
  //width: 80%;
  max-width: 600px;

  position: fixed;
  bottom: 20px;
  right: 20px;

  flex-wrap: wrap;
}
